{% extends './base.html' %}

{% block title %} Inicio de Sesión {% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{url_for('static', filename='css/login.css')}}">
{% endblock %}

{% block body %}

<form class="form-singin" action="/login" method="POST">
    <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
    <img class="mb-4" src="{{url_for('static', filename='img/flask.svg')}}" alt="" width="72" height="57">
    <h1 class="h3 mb-3 fw-normal">Inicio de Sesi&oacute;n</h1>

    <div class="form-floating">
        <label for="floatingInput">Usuario</label>
      <input type="text" id="usuario" name="usuario" minlength="6" maxlength="20" class="form-control" id="floatingInput" placeholder="Usuario">
      
    </div>
    <br/>
    <div class="form-floating">
        <label for="floatingInput">Password</label>
      <input type="password" id="password" name="password" minlength="5" maxlength="20" class="form-control" id="floatingPassword" placeholder="Password">
    </div>
    <br/>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Ingresar</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2021</p>
</form>

    {% block customJS %}
    <script src="{{url_for('static',filename='js/login.js')}}"></script>
    {% endblock %}
{% endblock %}